.spinspinspin {

	animation-name:spin;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;

}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1440deg);
	}
}

#first {

	position: fixed;
	margin-top: 20px;
	float: left;
	z-index: 10;
}

#second {

	position: fixed;
	margin-top: 100px;
	float: right;
	z-index: 10;
}
